# Diabetes Classification

## Overview

## Business Understanding

## Data Understanding

In [153]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression
from imblearn.over_sampling import SMOTE
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

In [79]:
df = pd.read_csv('diabetes_binary_health_indicators_BRFSS2015.csv')
df.head()

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Diabetes_binary       253680 non-null  float64
 1   HighBP                253680 non-null  float64
 2   HighChol              253680 non-null  float64
 3   CholCheck             253680 non-null  float64
 4   BMI                   253680 non-null  float64
 5   Smoker                253680 non-null  float64
 6   Stroke                253680 non-null  float64
 7   HeartDiseaseorAttack  253680 non-null  float64
 8   PhysActivity          253680 non-null  float64
 9   Fruits                253680 non-null  float64
 10  Veggies               253680 non-null  float64
 11  HvyAlcoholConsump     253680 non-null  float64
 12  AnyHealthcare         253680 non-null  float64
 13  NoDocbcCost           253680 non-null  float64
 14  GenHlth               253680 non-null  float64
 15  MentHlth              253680 non-null  float64
 16  PhysHlth              253680 non-null  float64
 17  DiffWalk              253680 non-null  float64
 18  Sex                   253680 non-null  float64
 19  Age                   253680 non-null  float64
 20  Education             253680 non-null  float64
 21  Income                253680 non-null  float64
dtypes: float64(22)
memory usage: 42.6 MB

In [81]:
df.Income.value_counts()

8.0    90385
7.0    43219
6.0    36470
5.0    25883
4.0    20135
3.0    15994
2.0    11783
1.0     9811
Name: Income, dtype: int64

In [82]:
df.describe()

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
count,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,...,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000
mean,0.139333,0.429001,0.424121,0.962670,28.382364,0.443169,0.040571,0.094186,0.756544,0.634256,...,0.951053,0.084177,2.511392,3.184772,4.242081,0.168224,0.440342,8.032119,5.050434,6.053875
std,0.346294,0.494934,0.494210,0.189571,6.608694,0.496761,0.197294,0.292087,0.429169,0.481639,...,0.215759,0.277654,1.068477,7.412847,8.717951,0.374066,0.496429,3.054220,0.985774,2.071148
min,0.000000,0.000000,0.000000,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,1.000000,24.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,6.000000,4.000000,5.000000
50%,0.000000,0.000000,0.000000,1.000000,27.000000,0.000000,0.000000,0.000000,1.000000,1.000000,...,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,8.000000,5.000000,7.000000
75%,0.000000,1.000000,1.000000,1.000000,31.000000,1.000000,0.000000,0.000000,1.000000,1.000000,...,1.000000,0.000000,3.000000,2.000000,3.000000,0.000000,1.000000,10.000000,6.000000,8.000000
max,1.000000,1.000000,1.000000,1.000000,98.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,5.000000,30.000000,30.000000,1.000000,1.000000,13.000000,6.000000,8.000000

In [83]:
df.Diabetes_binary.value_counts(normalize=True)

0.0    0.860667
1.0    0.139333
Name: Diabetes_binary, dtype: float64

## Data Preparation

In [87]:
#convert categorical variables into dummy variables
categoricals = ['GenHlth', 'Age', 'Education', 'Income']
categorical_df = df[categoricals].astype("category")
dummies = pd.get_dummies(categorical_df , drop_first=True)

In [89]:
df.drop(categoricals, axis=1, inplace=True)
df = pd.concat([df, dummies], axis=1)

In [92]:
df.head()

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,Education_4.0,Education_5.0,Education_6.0,Income_2.0,Income_3.0,Income_4.0,Income_5.0,Income_6.0,Income_7.0,Income_8.0
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1,0,0,0,1,0,0,0,0,0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0,0,1,0,0,0,0,0,0,0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1,0,0,0,0,0,0,0,0,1
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,0,0,0,0,0,0,0,1,0,0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,0,1,0,0,0,1,0,0,0,0

In [94]:
#Split the data
y = df['Diabetes_binary']
X = df.drop('Diabetes_binary', axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y)

In [109]:
#scaling
scaler = StandardScaler()
scaler.fit(X_train)

X_train_scaled = pd.DataFrame(scaler.transform(X_train), columns=X_train.columns)
X_test_scaled = pd.DataFrame(scaler.transform(X_test), columns=X_test.columns)

In [145]:
#class balancing
X_train_resampled, y_train_resampled = SMOTE().fit_resample(X_train_scaled, y_train)

In [146]:
y_train_resampled.value_counts()

1.0    163691
0.0    163691
Name: Diabetes_binary, dtype: int64

## Classification Modeling

### Logitic Regression

In [148]:
logreg = LogisticRegression(fit_intercept=False)

logreg_baseline_results  = cross_validate(logreg, X_train_resampled, y_train_resampled,
                                  scoring=('accuracy', 'recall',
                                          'precision', 'f1'))

logreg_baseline_results

{'fit_time': array([1.24248481, 1.25759268, 1.11324024, 1.27053046, 1.16121364]),
 'score_time': array([0.08763003, 0.06703663, 0.07855344, 0.07805657, 0.07913971]),
 'test_accuracy': array([0.7344411 , 0.74082502, 0.74421162, 0.73975197, 0.74538762]),
 'test_recall': array([0.89296842, 0.91010721, 0.90827173, 0.90714155, 0.90976846]),
 'test_precision': array([0.67799991, 0.67991694, 0.68387764, 0.6796192 , 0.68467392]),
 'test_f1': array([0.77077621, 0.77834957, 0.78026188, 0.7770684 , 0.78133239])}

In [149]:
average_scores = {}
for key, value in logreg_baseline_results.items():
    average_scores[key] = np.mean(value)
average_scores

{'fit_time': 1.2090123653411866,
 'score_time': 0.07808327674865723,
 'test_accuracy': 0.740923467328108,
 'test_recall': 0.9056514746947792,
 'test_precision': 0.6812175221603675,
 'test_f1': 0.77755768937344}

### Random Forest

In [151]:
forest = RandomForestClassifier(n_estimators=100, max_depth= 5)

forest_baseline_results  = cross_validate(forest, X_train_resampled, y_train_resampled,
                                  scoring=('accuracy', 'recall',
                                          'precision', 'f1'))

forest_baseline_results

{'fit_time': array([10.12070704, 10.28531694, 10.5762105 ,  9.53166676,  9.53902125]),
 'score_time': array([0.50978541, 0.46566415, 0.50613594, 0.47183299, 0.43933487]),
 'test_accuracy': array([0.73060769, 0.82099058, 0.82604313, 0.82295803, 0.82091148]),
 'test_recall': array([0.66555685, 0.8671004 , 0.86575234, 0.86315597, 0.86285051]),
 'test_precision': array([0.76509007, 0.79389228, 0.80205445, 0.79892564, 0.79607711]),
 'test_f1': array([0.71186108, 0.82888302, 0.832687  , 0.82979973, 0.82811996])}

In [152]:
average_scores = {}
for key, value in forest_baseline_results.items():
    average_scores[key] = np.mean(value)
average_scores

{'fit_time': 10.010584497451783,
 'score_time': 0.47855067253112793,
 'test_accuracy': 0.8043021821789018,
 'test_recall': 0.8248832115559892,
 'test_precision': 0.791207907246583,
 'test_f1': 0.8062701578286511}

### XGBoost

In [154]:
xgb = XGBClassifier()

xgb_baseline_results  = cross_validate(xgb, X_train_resampled, y_train_resampled,
                                  scoring=('accuracy', 'recall',
                                          'precision', 'f1'))

xgb_baseline_results

{'fit_time': array([6.60488701, 6.62683225, 6.71678424, 7.79038954, 7.64522815]),
 'score_time': array([0.19447899, 0.20359087, 0.23194265, 0.23099542, 0.21949387]),
 'test_accuracy': array([0.59361302, 0.97728974, 0.97878612, 0.97785448, 0.97822103]),
 'test_recall': array([0.18727473, 0.99648737, 0.99605962, 0.99740363, 0.99627344]),
 'test_precision': array([0.9996739 , 0.95964231, 0.96279784, 0.95987418, 0.9615566 ]),
 'test_f1': array([0.31545368, 0.97771784, 0.97914634, 0.97827911, 0.97860722])}

In [155]:
average_scores = {}
for key, value in xgb_baseline_results.items():
    average_scores[key] = np.mean(value)
average_scores

{'fit_time': 7.0768242359161375,
 'score_time': 0.2161003589630127,
 'test_accuracy': 0.9011528776872144,
 'test_recall': 0.8346997587673662,
 'test_precision': 0.9687089665882123,
 'test_f1': 0.8458408360486702}

## Final Model Evaluation

## Conclusions

## Next Steps